.center {
    margin: auto;
    width: 98%;
    border:3px solid #8AC007;
    padding: 10px;
}

#btnNewAnalysis {
    border: 1px solid #000000;
    background-color: #c0c0c0;
    padding: 2px;
    margin-bottom: 10px;
    text-align: center
}

.analysisField:first-child {
    font-weight: bold;
}

.analysisField:first-child + span {
    font-weight: normal;
}

.analysisControl {
    font-height: 0.7em;
    border: 1px solid #000000;
    width: 50px;
    padding: 3px;
    text-align: center;
    background-color: #c0c0c0;
}

.analysisControl:hover {
    background-color: #eee8aa;
}

.analysisBoard {
    display: table;
    border: 1px solid #c0c0c0;
    padding: 1px 1px 1px 1px;
}

.analysisBoardCell {
    display: table-cell;
    background-color: #e0e0e0;
    width: 2px;
    height: 4px;
    /*
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    */
    padding-right: 1px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.analysisBoardCell:hover {
    background-color: #d29c0e; /*#7fffd4;*/
}

.analysisBoardCellAlive {
    background-color: #4863a0; /*#342d7e;*/
    /*background-color: #d29c0e;*/
}
