.center {
    margin: auto;
    width: 98%;
    border:3px solid #8AC007;
    padding: 10px;
}

#btnNewAnalysis {
    border: 1px solid #000000;
    background-color: #c0c0c0;
    padding: 2px;
    margin-bottom: 10px;
    text-align: center
}

.analysisControl {
    font-height: 0.7em;
    margin: 3px;
    text-align: center;
}

.analysisControl:hover {
    font-color: #c0c0c0;
}

.analysisBoard {
    display: table;
    border: 1px solid #c0c0c0;
    padding: 1px 1px 1px 1px;
}

.analysisBoardCell {
    display: table-cell;
    background-color: #e0e0e0;
    width: 2px;
    height: 4px;
    padding-right: 1px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.analysisBoardCell:hover {
    background-color: #d29c0e; /*#7fffd4;*/
}

.analysisBoardCellAlive {
    background-color: #4863a0; /*#342d7e;*/
    /*background-color: #d29c0e;*/
}

/** BOARD CREATOR **/
#boardCreator {
    border: 1px solid #000000;
    width: 100px;
    height: 100px;

    overflow: visible;
    position: relative;
}
#board {
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    position: absolute;
    top:0;left:0;bottom:0;right:0;

    overflow:hidden;
}
#segrip, #egrip, #sgrip {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#segrip {
    bottom:-6px; right:-6px;
}
#egrip {
    right:-6px; 
    top:50%; margin-top:-6px;
}
#sgrip {
    bottom:-6px; 
    left:50%; margin-left:-6px;
}
